body {
    margin: 0;
    background-color: black;
    cursor: crosshair;
  }
  canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
  }

  .justify-around{
    justify-content: space-around;
  }

  .opacity-60{
    opacity: 0.6;
  }

  :root {
    --dur: 2s;
    --bg: #004dff;
    --fg: #17181c;
    font-size: calc(12px + (24 - 12) * (100vw - 320px) / (2560 - 320));
  }
